@font-face {
  font-family: "ancient";
  src: url("ancientrunes.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.ancient {
  font-family: "ancient";
}

h1 {
  font-size: 48px;
  text-align: center;
  font-weight: normal;
}

footer {
  text-align: center;
}
